body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #1F2937;
    padding: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    margin-left: auto;
    font-size: 14px;
    color: #e5e7eb;
}

.top-banner { 
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #1F2937;
    flex: 1;
    align-items: center;

}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 24px;
    width: 400px;
    margin: 40px;
    flex: 1;
}

.website-info {
    font-size: 14px;
    margin-top: 0;
}

.top-text {
    color: #e5e7eb
}
.sign-up-button {
    background-color: #3882F6;
    width: 130px;
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.gallery-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.image-grid {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding : 40px;
}

.image-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.image-entry img {
    height: 170px;
    width: 170px;
    border: 5px solid #3882F6;
    border-radius: 18px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 50px;
}
.quote-text{
    font-size: 36px;
}
.quote-author{
    text-align: right;
}

.alert-banner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    margin: 100px;
    border-radius: 20px;
}

.alert-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
    color:#e5e7eb
}
.alert-text > * {
    margin: 0;
}

.alert-button {
    background-color: #3882F6;
    width: 130px;
    height: auto;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    margin: 40px;
}

.footer {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white
}